<h1><%= createAuthor.name %></h1>
<p><%= createAuthor.id %></p>
<a href="<%= createAuthor.portfolioLink %>">
    Portfolio
</a>
<p>Author Created on Draft!</p>

<a href="/PublishAuthor/<%= createAuthor.id %>">Publish</a>
<br/>
<a href="/..">Home</a>