<a href="/addRandomAuthor">Add random author</a>
<br/>
<a href="/addCSVAuthors">Add CSV authors</a>
<br/>
<p>-----------------------------------------</p>
<% authors.forEach(function(author) { %>
    <a href="/authors/<%= author.id %>">
      <%= author.name %>
    </a>
<br/>
<% }); %>

